{% load static %}

    <!-- ### Start of required HTML for inline interactives ### -->
    <div class="row interactive" id="interactive-rsa-no-padding" data-iframe-height>
      <div class="col s12">
        <h3>RSA <span id="interactive-rsa-no-padding-mode">Encrypter</span></h3>

        <h5>Key</h5>
        <textarea id="interactive-rsa-no-padding-key" rows="5"></textarea>

        <h5><span id="interactive-rsa-no-padding-input-type">Plain</span> Text</h5>
        <textarea id="interactive-rsa-no-padding-input-text" rows="5"></textarea>

        <button id="interactive-rsa-no-padding-process" class="btn">Encrypt</button>

        <h5><span id="interactive-rsa-no-padding-output-type">Cipher</span> Text</h5>
        <textarea id="interactive-rsa-no-padding-output-text" rows="5"></textarea>
      </div>
      <link rel="stylesheet" href="{% static 'interactives/rsa-no-padding/css/rsa-no-padding.css' %}">
      <script type="text/javascript" src="{% static 'interactives/rsa-no-padding/js/rsa-jsencrypt-no-padding.js' %}"></script>
      <script type="text/javascript" src="{% static 'interactives/rsa-no-padding/js/third-party/jsencrypt-no-padding.js' %}"></script>
      <script type="text/javascript" src="{% static 'interactives/rsa-no-padding/js/third-party/iframeResizer.contentWindow.min.js' %}"></script>
    </div>
    <!-- ### End of required HTML for inline interactives ### -->
